@import "tailwindcss";

.cool-underline {
  position: relative;
}

.cool-underline::after {
  content: "";
  height: 10px;
  transform: skew(-21deg);
  background-color: #dc008344;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  position: absolute;
  left: -8px;
  width: 0;
  bottom: 10px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.cool-underline.showline::after {
  width: calc(100% + 16px);
}

form input[type='text'],
form input[type='number'],
form select,
form textarea {
  @apply border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm bg-white;
}

form input[type='text'], 
form input[type='number'], 
form textarea {
  @apply w-full block p-2;
}

form label {
  @apply mb-4 block p-1;
}

form label span,
span.label {
  @apply text-gray-600 text-xs uppercase font-bold;
}

.btn-gray {
  @apply bg-gray-200 rounded-full px-4 py-2 inline-flex gap-1 justify-between items-center 
}
.btn-blue {
  @apply bg-blue-600 text-white rounded-full px-4 py-2 inline-flex gap-1 justify-between items-center 
}
